<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <p class="nav user"><%= link_to 'Welcome', root_path %>, <b><%= current_user.email %></b> Guru
      <%= link_to 'exit', sign_out_path %></p>
    <% end %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
