<%= render 'shared/nav' %>
<h1><%= t('admin.tests.index.header') %></h1>

<p>
  <%= link_to 'New test', new_admin_test_path %>
</p>

<table>
  <tr>
    <th><%= t('admin.tests.index.title') %></th>
    <th><%= t('admin.tests.index.level') %></th>
    <th><%= t('admin.tests.index.question') %></th>
    <th colspan="4"><%= t('admin.tests.index.actions') %></th>
  </tr>

  <%= render @tests %>
</table>
